@media(max-width:992px) {
        .container {
            width: 100%;
        }
        .nav-custom {
            .list-nav {
                font-size: 13px;
                li {
                    
                    span {
                        display: block;
                        font-size: 15px;
                    }
                    select {}
                    .btn {
                        margin-right: 8px;
                    }
                }
            }
            .custom-links {
                padding: 10px;
                font-size: 13px;
            }
        }
        .logo {
            margin-top: 170px;
        }
        .hero {
            bottom: 0;
            height: 100%;
            width: 100%;
        }
    }